@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato Light';
  src: url('../../public/fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato Regular';
  src: url('../../public/fonts/Lato-Regular.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*::-webkit-scrollbar-track {
  background-color: #ffffff;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #1f242d;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(121, 121, 121, 0.555);
  border-radius: 6px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.card-gradient {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 10%, #888 19.79%, #666 50%, rgba(51, 51, 51, 0.60) 91.88%);
}

@media all and (min-width: 1100px) {
  .card-gradient {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 7%, #888 13.79%, #666 50%, rgba(51, 51, 51, 0.60) 91.88%);
  }
}
